apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: private-quarkus-devfile-sample-ni4c
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-sysm-tenant/private-devfile/private-quarkus-devfile-sample-ni4c@sha256:47d5f869a5b94e64908a9341897551ff44190861569f4962cfe2b0d9e188b7e3
        name: my-java-quarkus
        resources: {}
status: {}
